<%= form_for(@rate) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :district_start, 'Distrito Origen', {:class => "label_sistema"} %><br>
    <%= f.collection_select(:district_start, District.all, :id,  :description) %>
  </div>
  <div class="field">
    <%= f.label :district_end, 'Distrito Destino', {:class => "label_sistema"} %><br>
    <%= f.collection_select(:district_end, District.all, :id,  :description) %>
  </div>
  <div class="field">
    <%= f.label :price, 'Precio', {:class => "label_sistema"} %><br>
    <%= f.number_field :price, {:class => "input_text_sistema"} %>
  </div>

  <div class="field">
    <%= f.label :status, 'Estado', {:class => "label_sistema"} %><br>
    <%= f.check_box :status, {:class => "input_text_sistema"} %>
  </div>
  <div class="actions">
    <%= f.submit '  Grabar  ', {:class => "input_bottom_sistema"} %>
  </div>
<% end %>
