  <br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Distrito Inicio:</strong>
  <%= @rate.district_start %>
</p>

<p>
  <strong>Distrito Final:</strong>
  <%= @rate.district_end %>
</p>
<p>
  <strong>Precio:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @rate.status %>
</p>

<%= link_to 'Editar', edit_rate_path(@rate), {:class => "a_sistema"} %> |
<%= link_to 'Retornar', rates_path, {:class => "a_sistema"} %>