<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>District start:</strong>
  <%= @rate.district_start %>
</p>

<p>
  <strong>District end:</strong>
  <%= @rate.district_end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rate.status %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
