<p id="notice"><%= notice %></p>

<h3 class="h3_sistema">Listado de Vehículos</h3>
<table id="t01" style="width:90%;">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Marca</th>
      <th>Color</th>
      <th>Categoría</th>
      <th>Chofer</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.plaque %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.category %></td>
        <td><%= vehicle.driver.name %></td>
        <td><%= vehicle.status %></td>
        <td><%= link_to 'Visualizar', vehicle %></td>
        <td><%= link_to 'Editar', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Eliminar', vehicle, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Vehículo', new_vehicle_path, {:class => "a_sistema"}  %>
