<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @vehicle.plaque %>
</p>
<p>
  <strong>Marca</strong>
  <%= @vehicle.brand %>
</p>
<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @vehicle.category %>
</p>

<p>
  <strong>Chofer:</strong>
  <%= @vehicle.driver.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vehicle.status %>
</p>

<%= link_to 'Editar', edit_vehicle_path(@vehicle), {:class => "a_sistema"} %> |
<%= link_to 'Retornar', vehicles_path, {:class => "a_sistema"} %>
