<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sourceaddress, 'Dir. Origen', {:class => "label_sistema"} %><br>
    <%= f.text_field :sourceaddress, {:class => "input_text_sistema"} %>
  </div>
  <div class="field">
    <%= f.label :targetaddress, 'Dir. Destino', {:class => "label_sistema"} %><br>
    <%= f.text_field :targetaddress, {:class => "input_text_sistema"} %>
  </div>
  <div class="field">
    <%= f.label :origin_district, 'Dist. Origen', {:class => "label_sistema"} %><br>
    <%= f.collection_select :origin_district, District.all, :id,  :description %>
  </div>
  <div class="field">
    <%= f.label :servicedate, 'Fecha', {:class => "label_sistema"} %><br>
    <%= f.date_select :servicedate, {:class => "input_text_sistema"} %>
  </div>
  <div class="field">
    <%= f.label :destiny_district, 'Dist. Destino', {:class => "label_sistema"} %><br>
    <%= f.collection_select :destiny_district, District.all, :id,  :description %>
  </div>
  <div class="field">
    <%= f.label :servicehour, 'Hora', {:class => "label_sistema"} %><br>
    <%= f.datetime_select :servicehour, {:class => "input_text_sistema"} %>
  </div>
  <div class="field">
    <%= f.label :passengernumber, 'Nro. Pasajeros', {:class => "label_sistema"} %><br>
    <%= f.number_field :passengernumber, {:class => "input_text_sistema"} %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id, 'Vehículo', {:class => "label_sistema"} %><br>
    <%= f.collection_select :vehicle_id, Vehicle.all, :id,  :order_vehiculo %>
  </div>
  <div class="actions">
    <%= f.submit'  Grabar  ', {:class => "input_bottom_sistema"} %>
  </div>
<% end %>
