<p id="notice"><%= notice %></p>

<h3 class="h3_sistema">Reservas</h3>

<table>
  <thead>
    <tr>
      <th>Pasajero</th>
      <th>Dir. Origen</th>
      
      <th>Dir. Destino</th>
      <th>Fecha</th>
      <th>Hora</th>
      
      <th>Rate</th>
      
      <th>Nro. Pasajeros</th>
      <th>Vehículo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.user_reser %></td>
        <td><%= order.sourceaddress %></td>
        <td><%= order.targetaddress %></td>
        <td><%= order.servicedate %></td>
        <td><%= order.servicehour %></td>
        <td><%= order.rate %></td>
        <td><%= order.passengernumber %></td>
        <td><%= order.vehicle.order_vehiculo %></td>
        <td><%= link_to 'Visualizar', order %></td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
