  <br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Pasajero:</strong>
  <%= @order.user.user_reser %>
</p>
<p>
  <strong>Dir. Origen:</strong>
  <%= @order.sourceaddress %>
</p>
<p>
  <strong>Dir. Destino:</strong>
  <%= @order.targetaddress %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @order.servicedate %>
</p>
<p>
  <strong>Hora:</strong>
  <%= @order.servicehour %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @order.rate %>
</p>

<p>
  <strong>Nro. Pasajeros:</strong>
  <%= @order.passengernumber %>
</p>

<p>
  <strong>Vehículo:</strong>
  <%= @order.vehicle.order_vehiculo %>
</p>

<%= link_to 'Editar', edit_order_path(@order), {:class => "a_sistema"} %> |
<%= link_to 'Retornar', orders_path, {:class => "a_sistema"} %>
