<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre', {:class => "label_sistema"}  %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :identitydocument, 'DNI', {:class => "label_sistema"}  %><br>
    <%= f.text_field :identitydocument %>
  </div>
  <div class="field">
    <%= f.label :license, 'Nro. Licencia', {:class => "label_sistema"}  %><br>
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= f.label :status, 'Estado', {:class => "label_sistema"}  %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit '  Grabar  ', {:class => "input_bottom_sistema"} %>
  </div>
<% end %>
