<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @driver.identitydocument %>
</p>

<p>
  <strong>Nro Licencia:</strong>
  <%= @driver.license %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @driver.status %>
</p>

<%= link_to 'Editar', edit_driver_path(@driver), {:class => "a_sistema"}  %> |
<%= link_to 'Retornar', drivers_path, {:class => "a_sistema"}  %>
